<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between w-100">
            <h3>{{service.title}}</h3>
            <a href="{{service.link.link}}" class="ms-auto">link</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img src="{{Image(service.icon).src}}" alt="{{service.icon.alt}}" class="img-responsive">
            </div>
            <div class="col-9">
                {{service.text}}
            </div>
        </div>
    </div>
</div>