<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{contact.title}}</h2>
            </div>
        </div>
            {% set form = contact.form %}
            {% filter shortcodes %}
                [contact-form-7 id="{{form.ID}}" title="Contacto"]
            {% endfilter %}
            {{ form.content }}
        <img src="{{Image(contact.icon).src}}" alt="{{contact.icon.alt}}">
    </div>
</section>